{% extends 'qna/base.html' %}

{% block content %}

{% for question in questions %}

<a style="color:black;" href="{% url 'question_detail' pk=question.pk %}"><P><h1> {{ question }}</h1></a><br>
{% if question.answers.all|length == 0 %}
<p>No answers yet</p>
{% else %}

<div id="AnswerBlock" style="background-color: white">
{% with answer=question.answers.all|first %}

<a href="/user/{{answer.author.username}}"><img src="{{ answer.author.profile.avatar.url }}" height="40" width="40" class="img-thumbnail">{{ answer.author.profile.full_name }}</a>
    <span class="small text-muted">  {{ answer.updated }}</span>
<p>{{ answer.text }}</p>
    <hr>
</div>
{% endwith %}
{% endif %}<br><br>
{% endfor %}


{% endblock %}

