{% extends 'qna/base.html' %}

{% block content %}
<P>{{ question }}</P>

{% if request.user == question.author %}
<h2><a href="{% url 'edit_question' pk=question.pk %}">Edit Question</a> </h2>
<h3><a href="{% url 'delete_question' pk=question.pk %}">Delete Question</a> </h3>
{% endif %}

{% for answer in question.answers.all %}

<P>{{ answer.text }}</P>

{% for comment in answer.comments.all %}
<p>{{ comment }}</p>

{% if request.user == comment.author %}
<p><a href="{% url 'edit_comment' pk=comment.pk %}">Edit Comment</a></p>
<p><a href="{% url 'delete_comment' pk=comment.pk %}">Delete Comment</a></p>
{% endif %}

{% endfor %}

{% if request.user.is_authenticated %}
<p><a href="{% url 'new_comment' pk=answer.pk %}">Comment</a></p>
{% endif %}

{% if request.user == answer.author %}
<p><a href="{% url 'edit_answer' pk=answer.pk %}">Edit Answer</a></P>
<p><a href="{% url 'delete_answer' pk=answer.pk %}">Delete Answer</a></p>
{% endif %}

{% endfor %}

{% if request.user.is_authenticated %}
<h2><a href="{% url 'new_answer' pk=question.pk %}">Give An Answer</a></h2>
{% endif %}

{% endblock %}
