{% extends 'qna/base.html' %}

{% block content %}
<br>
<h1>Question : {{ question }}</h1>
<br>
{% if request.user.is_authenticated %}
<h2><a href="{% url 'new_answer' pk=question.pk %}">Write AN Answer</a></h2>
<br>
{% endif %}
{% if request.user == question.author %}
    <span class="btn btn-warning"><a href="{% url 'edit_question' pk=question.pk %}"><i class="fas fa-edit"></i></a></span>
    <span class="btn btn-outline-danger"><a href="{% url 'delete_question' pk=question.pk %}"><i class="fas fa-trash-alt"></i></a></span>
{% endif %}
<hr>

{% for answer in question.answers.all %}

<p><a href="/{{answer.author.username}}"><img src="{{ answer.author.profile.avatar.url }}" height="40" width="40">{{ answer.author.username }}</a></p>
<p class="text-muted small">{{ answer.updated }}</p>
<h6>{{ answer.text }}</h6>

<P><a href="{% url 'answer_up_vote' pk=answer.pk %}"> <i class="fas fa-arrow-up"></i> {{ answer.up_votes.all|length }}</a>
    <a href="{% url 'answer_down_vote' pk=answer.pk %}"> <i class="fas fa-arrow-down"></i> {{ answer.down_votes.all|length }}</a></P>

<div id="comment" style="display:none">

{% for comment in answer.comments.all %}

<p>Comment : {{ comment.text }}</p>
<p class="text-muted">Made by: <a href="/ {{ comment.author.username }} ">{{ comment.author.username }}</a> {{ comment.updated }}</p>

<P><a href="{% url 'comment_up_vote' pk=comment.pk %}"><i class="fas fa-thumbs-up" ></i>    {{ comment.up_votes.all|length }}</a>
    <a href="{% url 'comment_down_vote' pk=comment.pk %}">  <i class="fas fa-thumbs-down" ></i>    {{ comment.down_votes.all|length }}</a></P>

{% if request.user == comment.author %}
<p><span class="btn btn-warning"><a href="{% url 'edit_comment' pk=comment.pk %}"><i class="fas fa-edit"></i></a></span>
    <span class="btn btn-danger"><a href="{% url 'delete_comment' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a></span></p>
{% endif %}

{% endfor %}

{% if request.user.is_authenticated %}
<p><a href="{% url 'new_comment' pk=answer.pk %}"> COMMENT  <i class="fas fa-comment"></i></a></p>
{% endif %}

</div>
<br>
<script>
    function showDiv() {
   document.getElementById('comment').style.display = "block";
}
</script>

<input type="button" value="Comments"  onclick="showDiv()"
       style="background-color: RoyalBlue ;
              border: none;
              color: white;
              padding: 2px 8px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 2p" />
<br>
{% if request.user == answer.author %}
<p><span class="btn btn-warning"><a href="{% url 'edit_answer' pk=answer.pk %}"><i class="fas fa-edit"></i></a></span>
    <span class="btn btn-outline-danger"><a href="{% url 'delete_answer' pk=answer.pk %}"><i class="fas fa-trash-alt"></i></a></span></p>
{% endif %}
<hr>
{% endfor %}



{% endblock %}



